<div class="container register-form">
                <div class="note">
                    <h2>Project Creation Request</h2>
                </div>

       <div class="column project-column">
<h4 style="text-align:center; font-weight: bold; text-decoration: underline">Project Form</h4>
    <div class="col-md-12 form-group">
	<label class="label-cls">Organisation Name *:</label>
        <select class="form-control" id="organization_name" onchange="processTemplateAPI.call(this, event)">
                <option class="hidden"  selected disabled>Organisation Name *</option>
            {% for organization in data %}

                <option id={{ organization.name }}>{{ organization.url }}</option>
            {% endfor %}
        </select>
    </div>

	                            <div class="col-md-12 form-group">
								<label class="label-cls">Project Name * :</label>
                                <input type="text" class="form-control" placeholder="Project Name *" id="project_name" onkeyup="sync()" value=""/>
                            </div>
                            <div class="col-md-12 form-group">
								<label class="label-cls">Project Description  :</label>
                                <input type="text" class="form-control" placeholder="Project Description " id="project_description" value=""/>
                            </div>

							                            <div class="col-md-12 form-group">
											<label class="label-cls">Process Template :</label>
                                            <select class="form-control" id="process_template" >
                                                <option class="hidden"  selected disabled>Process Template</option>
                                            </select>
                                        </div>

										                            <div class="col-md-12 form-group">
											<label class="label-cls">Version Control :</label>
                                            <select class="form-control" id="version_control">
                                                <option class="hidden"  selected disabled>Version Control</option>
                                                <option>git</option>
                                                <option>TFVC</option>

                                            </select>
                                        </div>
                            <div class="col-md-12 form-group">
											<label class="label-cls">Visibility :</label>
                                            <select class="form-control" id="visibility">
                                                <option class="hidden"  selected disabled>Visibility</option>
                                                <option>private</option>
                                                <option>public</option>

                                            </select>
                                        </div>
	</div>
	<div class="column">
						<h4 style="text-align:center; font-weight: bold; text-decoration: underline">Pipeline Form</h4>

<div class="col-md-12 form-group">
	<label class="label-cls">Technology  template *:</label>
        <select class="form-control" id="pipeline_file_path">
            <option class="hidden"  selected disabled>Technology  template *</option>
            <option>DotNet</option>
            <option>Java</option>
			<option>NodeJS</option>
            <option>Container</option>
            <option>K8s</option>
        </select>
    </div>
<div class="col-md-12 form-group">
								<label class="label-cls">Pipeline Name * :</label>
                                <input type="text" class="form-control" placeholder="Pipeline Name *" id="pipeline_name" value=""/>
                            </div>
<div class="col-md-12 form-group">
								<label class="label-cls">Pipeline Description  :</label>
                                <input type="text" class="form-control" placeholder="Pipeline Description " id="pipeline_description" value=""/>
                            </div>
<div class="col-md-12 form-group">
											<label class="label-cls">Repository Name :</label>
                                <input type="text" class="form-control" placeholder="Repository Name" id="repository_name" value="" disabled/>
                                            <!--<select class="form-control" id="repository_name">-->
                                                <!--<option class="hidden"  selected disabled>Repository Name</option>-->
                                                <!--<option>BS</option>-->


                                            <!---</select>-->
</div>
											<div class="col-md-12 form-group">
											<label class="label-cls">Branch Name :</label>
                                            <select class="form-control" id="branch_name">
                                                <option class="hidden"  selected disabled>Branch Name</option>
                                                <option>Master</option>


                                            </select>
                                        </div>
<div class="col-md-12 form-group">
											<label class="label-cls">Repository Type : </label>
                                            <select class="form-control" id="repository_type">
                                                <option class="hidden"  selected disabled>Repository Type</option>
                                                <option>github</option>
                                                <option>tfsgit</option>

                                            </select>
                                        </div>


                    </div>

          {% include 'repository.html' %}

					<div class="btn-group" style="width:100%;">
                    <button type="button" class="btnSubmit" onclick="saveInputs()" style="width:33.3%">SAVE</button>

					<button type="button" class="btnSubmit" onclick="runCMD()" style="width:33.3%">Submit</button>
                    <button type="button" class="btnSubmit" onclick="createProjectAndRepo()" style="width:33.3%">Create</button>
					<!--<button type="button" class="btnSubmit" onclick="logData()" style="width:33.3%">LOGS</button>-->
					</div>


<div id="snackbar">Successfully generated variables file..</div>
   </div>