<div class="container register-form">

<div class="column-policy project-column">
    <h4 style="text-align:center; font-weight: bold; text-decoration: underline">Repository Form</h4>

    <div class="col-md-12 form-group">

    <label class="label-cls">Project Name *:</label>
                                            <select class="form-control" id="project_name_repo" >
                                                <option class="hidden"  selected disabled>Project Name *</option>
                                            </select>

 <!--<select class="form-control" id="project_name_repo">-->
    <!--&lt;!&ndash;<optgroup label="New" id="project_name_new">&ndash;&gt;-->
         <!--<option class="hidden"  selected disabled>Project Name</option>-->
        <!--&lt;!&ndash;<option>Tiger</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option>Leopard</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option>Lynx</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</optgroup>&ndash;&gt;-->
    <!--&lt;!&ndash;<optgroup label="Existing" id="project_name_old">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<option>Grey Wolf</option>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<option>Red Fox</option>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<option>Fennec</option>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</optgroup>&ndash;&gt;-->
<!--</select>-->

    <!--<input type="text" class="form-control" placeholder="Project Name *" id="Project_name_repo" value=""/>-->
    </div>


<div class="col-md-12 form-group">

    <label class="label-cls">Repository Name *:</label>
    <input type="text" class="form-control" placeholder="Repository Name *" id="repository_name_repo" value="" disabled/>
</div>

    <div class="col-md-12 form-group">

    <label class="label-cls">Repository Name :(optional)</label>
                                <input type="text" class="form-control" placeholder="Repository Name "
                                       id="repository_name_repo1" value=""/>
</div>

</div>
</div>